<h1>Systems</h1>
<div class="row">
  <% @systems.each do |system| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <%= link_to system.name, system_path(system), class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
